:root{
    --bg-color-dark: black;
    --txt-color-dark: white;
    --bg-color-brightness: white;
    --txt-color-brightness: black;
}
body.dark{
    background-color: var(--bg-color-dark);
    color: var(--txt-color-dark);
    transition: 0.5s;
}
body{
    background-color: var(--bg-color-brightness);
    color: var(--txt-color-brightness);
    transition: 0.5s;
}
#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40vh;
}
.btn1{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: hidden;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 30px;
}
.btn1:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}